@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 151 34% 2%;
    --foreground: 151 14% 99%;
    --muted: 331 5% 12%;
    --muted-foreground: 331 6% 63%;
    --popover: 151 34% 2%;
    --popover-foreground: 151 14% 99%;
    --card: 151 34% 3%;
    --card-foreground: 0 0% 100%;
    --border: 151 5% 10%;
    --input: 151 5% 10%;
    --primary: 151 94% 44%;
    --primary-foreground: 151 94% 4%;
    --secondary: 331 94% 44%;
    --secondary-foreground: 0 0% 100%;
    --accent: 331 94% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 18 90% 54%;
    --destructive-foreground: 0 0% 0%;
    --ring: 151 94% 44%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
